<%- include('partials/header'); -%>

<span class="root:  "></span>

<h1 class="title"> Calulation Completed! </h1>
<h2> Your chosen birth date was ... <%= userBDate %> </h2>

<div class="flex-container">
    <div class="dark-box-concave-res glow">
        <h3> Your 10-day Birthday <%=message%> ...</h3>
        <p class="date-text"> <%= mathBirthDays.tenDays.split(' ')[2] %> </p>
        <p class="month-text"> <%= mathBirthDays.tenDays.split(' ')[1] %> </p>
        <p class="year-text"> <%= mathBirthDays.tenDays.split(' ')[0] %> </p>
    </div>
    <div class="dark-box-concave-res glow">
        <h3> Your 100-day Birthday will be in ...</h3>
        <p class="date-text"> <%= mathBirthDays.hundredDays.split(' ')[2] %> </p>
        <p class="month-text"> <%= mathBirthDays.hundredDays.split(' ')[1] %> </p>
        <p class="year-text"> <%= mathBirthDays.hundredDays.split(' ')[0] %> </p>
    </div>
    <div class="dark-box-concave-res glow">
        <h3> Your 1000-day Birthday will be in ...</h3>
        <p class="date-text"> <%= mathBirthDays.thousandDays.split(' ')[2] %> </p>
        <p class="month-text"> <%= mathBirthDays.thousandDays.split(' ')[1] %> </p>
        <p class="year-text"> <%= mathBirthDays.thousandDays.split(' ')[0] %> </p>
    </div>
</div>
  
<form action="/" method="get">
    <div class="container last-one">
        <button type="submit" name="button" class="">Again!</button>
    </div>
</form>

<%- include('partials/footer'); -%>


    

    